
.main {
  padding-left: 300px

}
@media only screen and (max-width : 992px) {
  .main {
    padding-left: 0;
  }
}

#contents{
  min-height: 800px;
}

.sidebar {
  padding-left: 100px;
  float: left;
  box-sizing: border-box;
  min-height: 1px;
}