.User {
  padding: 7%;
}

.UpperUser {
  background: url('/assets/images/background.jpg');
  background-size: cover;
  padding: 7%;
  height: 370px;
}
 
.UpperUser img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}