.User {
  padding: 7%;
}

.UpperUser {
  background: url('../temp/michael-carnevale-435126-1.jpg');
  background-size: cover;
  padding: 7%;
  height: 370px;
}
 
.UpperUser img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}