
.landingpage {
  color: #FFFFF0;
  text-align: center;
  font-family: 'Montserrat', 'Arial Narrow Bold', sans-serif;
  background: url('./background.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  padding-bottom: 5%;

}

.landingpage h2 {

  letter-spacing: 1em;
}

#logo {
  color: #FFFFF0;
  text-align: center;
  font-size: 100px;
}

img {
  border-radius: 50%;
  height: 450%;
  width: 450%;
}